<a href="https://colab.research.google.com/github/ramrajv/Upgrad_Pt_2/blob/main/NLP/Graded_Q.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
import spacy
nlp = spacy.load("en_core_web_sm")
doc = nlp("upGrad is teaching Data Science courses to the working professionals.")
for token in doc:
    print(token.text, token.pos_, token.tag_)

upGrad PROPN NNP
is AUX VBZ
teaching VERB VBG
Data PROPN NNP
Science PROPN NNP
courses NOUN NNS
to ADP IN
the DET DT
working VERB VBG
professionals NOUN NNS
. PUNCT .

In [30]:
# for token in doc:
    # print(token.text, token.pos_, token.tag-)

<em>Can you write a descriptive answer about the meaning of the PoS tags ‘VBG’ and ‘NNP’ that are assigned to the words ‘teaching’ and ‘upGrad’, respectively?</em>

The word ‘teaching’ is assigned the PoS tag VBG, which is used to tag words that are verbs or gerunds or those with present participle tense. 

NNP stands for proper nouns that name specific people, places, things or ideas. ‘upGrad’ is a proper noun; hence, it is assigned an NNP tag.

In [ ]:
up1 = nlp('Apple is looking at buying UK-based start-up for $1 billion')
for token in up1:
    print(token.text, token.pos_, token.tag_)

Apple PROPN NNP
is AUX VBZ
looking VERB VBG
at ADP IN
buying VERB VBG
UK PROPN NNP
- PUNCT HYPH
based VERB VBN
start NOUN NN
- PUNCT HYPH
up NOUN NN
for ADP IN
$ SYM $
1 NUM CD
billion NUM CD

In [3]:
import pandas as pd
import numpy as np
import os

In [4]:
url = 'https://raw.githubusercontent.com/ramrajv/Upgrad_Pt_2/main/NLP/tagged_words.csv'
df = pd.read_csv(url)

In [5]:
df.head()

     word   tag
0     the   DET
1  fulton  NOUN
2  county  NOUN
3   grand   ADJ
4    jury  NOUN

In [9]:
sent = "I saw him running away"

def get_common_tag(data,word):
    if word.lower() in data['word'].unique():
        q = f"word=='{word.lower()}'"
        return word , data.query(q)['tag'].value_counts().head(1).index.tolist()[0]
    else:
        return f"{word} not in data"

for word in sent.split(" "):
    print(get_common_tag(df,word))
 
df.query("word=='saw'")['tag'].value_counts()

('I', 'PRON')
('saw', 'VERB')
('him', 'PRON')
('running', 'VERB')
('away', 'ADV')

VERB    347
NOUN      5
Name: tag, dtype: int64

In [10]:
sent = 'He wished he was rich'
for word in sent.split(' '):
    print(get_common_tag(df,word))

('He', 'PRON')
('wished', 'VERB')
('he', 'PRON')
('was', 'VERB')
('rich', 'ADJ')

In [16]:
indx = df['word']
cols = df['tag']
df_ct = pd.crosstab(indx,cols)

In [17]:
df_ct.columns

Index(['ADJ', 'ADP', 'ADV', 'CONJ', 'DET', 'NOUN', 'NUM', 'PRON', 'PRT',
       'VERB', 'X'],
      dtype='object', name='tag')

In [18]:
df_ctcopy = df_ct.copy()

In [20]:
for col in df_ct.columns:
    df_ctcopy[col] = df_ct[col]/df_ct[col].sum()

In [22]:
df_ctcopy.reset_index(inplace=True)

In [23]:
df_ctcopy.columns

Index(['word', 'ADJ', 'ADP', 'ADV', 'CONJ', 'DET', 'NOUN', 'NUM', 'PRON',
       'PRT', 'VERB', 'X'],
      dtype='object', name='tag')

In [24]:
df_ctcopy[df_ctcopy['word']=='his']

tag,word,ADJ,ADP,ADV,CONJ,DET,NOUN,NUM,PRON,PRT,VERB,X
21950,his,0.0,0.0,0.0,0.0,0.050774,0.0,0.0,0.00075,0.0,0.0,0.001443

In [25]:
import pandas as pd
# data = pd.read_csv("tagged_words.csv")
emmission_matrix = pd.crosstab(df['word'],df['tag'],normalize='columns')

word = 'his'
emmission_matrix.loc[word][emmission_matrix.loc[word]>0].round(3)
emmission_matrix['PRON'].loc['his'].round(3)

0.001

In [26]:
emmission_matrix['PRON'].loc['his']

0.0007499898650018244